.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #2c5474;
  margin: 0.5rem;
  padding: 1rem;
}

.productCard img,
.cartImg {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.warn {
  font-weight: 800;
  color: #ec0000;
}

.bold {
  font-weight: 800;
}

.centered {
  text-align: center;
}

.oldPrice {
  text-decoration: line-through;
}

.productImg {
  max-width: 700px;
  margin: auto;
}

.divider {
  margin: 2rem 0;
  border-top: 1px solid #2c5474;
}

/*----------------*/

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-icon {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
}

.cart-count {
  position: absolute;
  top: 18px;
  right: 0px;
  background-color: #ffd700;
  color: #000;
  font-weight: 800;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartImg {
  width: 130px;
  height: 130px;
  margin-right: 1rem;
  object-fit: cover;
}

.search-container {
  position: relative;
  width: 60%;
}

.search-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 70%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto;
}

form input {
  padding: 0.3rem;
}

.sentForm {
  display: none;
}

@media (min-width: 768px) {
  .search-container {
    width: 40%;
    padding-right: 2rem;
  }

  form {
    width: 40%;
  }
}
